.App {
  display: flex;
}

.sidebar {
  display: flex;
  width: 20%;
  height: 100vh;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sidebar-list {
  padding: 0;
  list-style: none;
}

.sidebar-list-item {
  padding: 10px;
}

.sidebar-list-item a {
  color: white;
  text-decoration: none;
}

.sidebar-list-item .active {
  color: rgb(6, 70, 247);
}

.sidebar-logout {
  color: #282c34;
  padding: 5px;
  margin-left: 20%;
  border-radius: 5px;
}